<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Microservices</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <div class="container">
        <div class="image">
            <img src="{{ '/monster/'+ hash }}" />
        </div>
        
        <h2>Hello!</h2>

        <form method="POST">
            <label for="name">
                 Enter your name
            </label>
            <input type="text" name="name" value="{{ name }}">
            <input type="submit" value="submit">
        </form>

    </div>
</body>
</html>